<div>
    <% if !@loyalty_program %>
        <%= form_with url: calculations_path, method: :GET do |form| %>
            <%= form.label :loyalty_program, "Choose a loyalty program" %>
            <%= form.collection_select(:loyalty_program, @partnered_loyalty_programs, :id, :name) %>
            <br>
            <%= form.label :goal, "Desired points:" %>
            <%= form.number_field :goal %>
            <br>
            <%= form.submit "Show points", class: "text-blue-500 hover:underline", data: {turbo_frame: 'partnerships-list'} %>
        <% end %>
    <% end %>
    <br>

    <%= turbo_frame_tag 'partnerships-list' do %>
        <% if @loyalty_program %>
            <div>
                Selected program: <%= @loyalty_program.name %> </br>
                Points needed: <%= @goal %>
            </div>
            <%= link_to "Optimize", optimize_calculations_path(loyalty_program: @loyalty_program.id, goal: @goal), class: "text-blue-500 hover:underline", data: {turbo_frame: 'partnerships-list'} %>
            <%= form_with url: calculations_path, method: :GET do |form| %>
            
                <%# get chosen loyalty program %>
                <%# get and show all cards partnered with chosen loyalty program %>
                <%= fields_for "partnerships" do |f| %>
                    <% @loyalty_program.card_partnerships.each do |partnership| %>
                        <br>
                        <div>
                            <%= partnership.card.name %>:
                            <br>
                        </div>
                        <div>
                            <%= f.fields_for partnership.id.to_s do |f2| %>
                                <%= hidden_field_tag 'loyalty_program', @loyalty_program.id %>
                                <%= hidden_field_tag 'goal', @goal %>
                                <%= f2.label :points_used, "Points:" %>
                                <%= f2.number_field :points_used %>
                                /<%= partnership.card.points %>
                            <% end %>
                        </div>
                    <% end %>
                <% end %>
                <br>
                <%= form.submit "Calculate", class: "text-blue-500 hover:underline", data: {turbo_frame: 'calculation'}%>
            <% end %> 
        <% end %>
    <% end %>
    <%= turbo_frame_tag 'calculation' do %>
        <% if @points_needed %>
            <p>
                Your selected credit card points convert to <%= @total_points_used%> <%= @loyalty_program.name %> points. 
            </p>
            <% if @points_needed > 0 %>
                You still need <%= @points_needed %> points for your <%= @goal %> point award.
            <% end %>
        <% end %>
    <% end %>
</div>