<div id="<%= dom_id card %>" class="contents">
  <p class="my-5">
    <%= card.name %>
  </p>

  <p class="my-5">
    <%= card.points %>
  </p>

  <p class="my-5">
    <%= "$%0.2f" % [card.value] %>
  </p>

  <p class="my-5">
    <%= card.conversion_rate %>
  </p>

  <p class="my-5">
    <% card.card_partnerships.each do |partnership| %>
      <% program = LoyaltyProgram.find_by_id(partnership.loyalty_program_id) %>
      <%= program.name %>
    <% end %>
  </p>

</div>
