<div id="<%= dom_id card %>" class="contents">
  <p class="my-5">
    <%= card.name %>
  </p>

  <p class="my-5">
    <%= card.points %>
  </p>

  <p class="my-5">
    <%= card.value %>
  </p>

  <p class="my-5">
    <%= card.conversion %>
  </p>

</div>
