<div id="<%= dom_id card %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= card.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Points:</strong>
    <%= card.points %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= "$%0.2f" % [card.value] %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Conversion:</strong>
    <%= card.conversion_rate %>
  </p>

</div>
