<div id="<%= dom_id card_partnership %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Card:</strong>
    <%= card_partnership.card.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Loyalty program:</strong>
    <%= card_partnership.loyalty_program.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Conversion rate:</strong>
    <%= card_partnership.conversion_rate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= card_partnership.notes %>
  </p>

</div>
