<%= form_with(model: card_partnership, class: "contents") do |form| %>
  <% if card_partnership.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(card_partnership.errors.count, "error") %> prohibited this card_partnership from being saved:</h2>

      <ul>
        <% card_partnership.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :card_id %>
    <%# <%= form.number_field :card_id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %> 
    <%= form.collection_select(:card_id, Card.all, :id, :name) %>
  </div>

  <div class="my-5">
    <%= form.label :loyalty_program_id %>
    <%# <%= form.number_field :loyalty_program_id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %> 
    <%= form.collection_select(:loyalty_program_id, LoyaltyProgram.all, :id, :name) %>
  </div>

  <div class="my-5">
    <%= form.label :conversion_rate %>
    <%= form.text_field :conversion_rate, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :notes %>
    <%= form.text_field :notes, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
